@import 'src/variables';
@import 'src/mixins';

.header {
  background: $dark-blue;
  height: 55px;
  color: white;
  padding: 0 20px;
}
.header-inner-container {
  max-width: $content-max-width;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    @include white-link;
  }
}
.links-list {
  display: flex;
  gap: 25px ;
}
