<nav class="nav-menu">
  <div class="nav-menu-items">
    <ul>
      <li>
        <a class="nav-menu-item" [routerLink]="'/total'" [routerLinkActive]="'nav-menu-item-active'">Total</a>
      </li>
      <li>
        <a class="nav-menu-item" [routerLink]="'/wallets'" [routerLinkActive]="'nav-menu-item-active'">Wallets</a>
      </li>
      <li>
        <a class="nav-menu-item" [routerLink]="'/nfts'" [routerLinkActive]="'nav-menu-item-active'">NFT</a>
      </li>
      <li>
        <a class="nav-menu-item" [routerLink]="'/charts'" [routerLinkActive]="'nav-menu-item-active'">Charts</a>
      </li>
    </ul>
  </div>
</nav>
