@font-face {
  font-family: Montserrat;
  src: local("Montserrat"),
  url('assets/fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 100;
  src: local("Montserrat Thin"),
  url('assets/fonts/Montserrat/Montserrat-Thin.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 100;
  font-style: italic;
  src: local("Montserrat Thin It"),
  url('assets/fonts/Montserrat/Montserrat-ThinItalic.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 200;
  src: local("Montserrat Thin"),
  url('assets/fonts/Montserrat/Montserrat-Thin.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 200;
  font-style: italic;
  src: local("Montserrat Thin It"),
  url('assets/fonts/Montserrat/Montserrat-ThinItalic.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 300;
  src: local("Montserrat Light"),
  url('assets/fonts/Montserrat/Montserrat-Light.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 300;
  font-style: italic;
  src: local("Montserrat Light It"),
  url('assets/fonts/Montserrat/Montserrat-LightItalic.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: local("Montserrat"),
  url('assets/fonts/Montserrat/Montserrat-regular.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: italic;
  src: local("Montserrat It"),
  url('assets/fonts/Montserrat/Montserrat-Italic.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 500;
  src: local("Montserrat Medium"),
  url('assets/fonts/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: italic;
  src: local("Montserrat Medium It"),
  url('assets/fonts/Montserrat/Montserrat-MediumItalic.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 600;
  src: local("Montserrat Semibold"),
  url('assets/fonts/Montserrat/Montserrat-Semibold.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: italic;
  src: local("Montserrat Semibold It"),
  url('assets/fonts/Montserrat/Montserrat-SemiboldItalic.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: local("Montserrat Bold"),
  url('assets/fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: italic;
  src: local("Montserrat Bold It"),
  url('assets/fonts/Montserrat/Montserrat-BoldItalic.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 800;
  src: local("Montserrat Extrabold"),
  url('assets/fonts/Montserrat/Montserrat-Extrabold.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 800;
  font-style: italic;
  src: local("Montserrat Extrabold It"),
  url('assets/fonts/Montserrat/Montserrat-ExtraboldItalic.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 900;
  src: local("Montserrat Black"),
  url('assets/fonts/Montserrat/Montserrat-Black.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 900;
  font-style: italic;
  src: local("Montserrat Black It"),
  url('assets/fonts/Montserrat/Montserrat-BlackItalic.ttf');
}
